.content-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 2rem;
    margin: 0 13.25rem 3rem;
  }
  
  .content-section__reverse {
    direction: rtl;
  }
  
  .content-section__reverse .content-section__text {
    direction: ltr;
  }
  
  .content-section__image {
    width: auto;
    height: 275px;
    border-radius: 8px;
    justify-self: end;
  }

  .content-section__text {
    color: var(--text-color);
    font-size: var(--text-font-size);
  }

  @media (max-width: 430px) {
    .content-section {
      grid-template-columns: 1fr;
      text-align: center;
      margin: 1rem;
    }
  
    .content-section__reverse {
      direction: ltr;
    }
  
    .content-section__reverse .content-section__text {
      direction: ltr;
    }

    .content-section__image {
      justify-self: center;
    }
  }

  @media screen and (min-width: 431px) and (max-width: 1150px) {
    .content-section {
      grid-template-columns: 1fr 1fr;
      text-align: center;
      margin: 1rem 5rem;
    }

    .content-section__image {
      justify-self: center;
    }
  }

  