.contact-item {
    flex: 1;
    padding: 35px;
    display: flex;
}

.icon {
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    justify-content: center;
    display: grid;
    align-content: center;
    color: var(--text-color);
}

.icon svg {
    height: 30px;
}

.data {
    align-content: center;
}

.data a {
    color: var(--text-color);
}

@media screen and (max-width: 430px) {
    .data {
        text-align: left;
    }

    .icon svg {
        height: 20px;
    }

    .contact-data {
        font-size: 15px;
        width: 100%;
        margin: 0;
    }
}