form {
    max-width: 600px;
    width: 100%;
    background: var(--text-color);
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: var(--body-color);
    margin: 5px;
}

form h1 {
    color: var(--body-color);
    font-size: 30px;
    text-align: center;
}

.input-box {
    margin-top: 20px;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #dddddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: var(--body-color);
    margin-top: 8px;
    font-family: var(--body-font);
}

.input-box .field.message {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;
    height: 55px;
    background: var(--common-page-background);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: var(--text-font-size);
    color: var(--text-color);
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: var(--button-hover);
}

textarea  {  
    font-family: var(--body-font);
    font-size: var(--text-font-size);   
}

@media screen and (max-width: 430px) {
    form {
        margin: 0;
    }
}