.error-page {
    background-image: url('../../../assets/images/error_background.png');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-position: center, bottom;
    height: calc(100vh - var(--header-height) - 2rem);
}

.error-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.error-page h1 {
    font-size: 100px;
    color: var(--first-color);
}

.error-page h2 {
    font-size: 46px;
    color: var(--first-color);
    padding-top: 30px;
}
.error-page p {
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    margin: 20px 0;
    max-width: 550px;
    letter-spacing: 1px;
    text-align: center;
    padding: 25px 0 10px;
}

.error-page-button {
    background-color: transparent;
    color: var(--text-color);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--text-font);
    border: 2px solid var(--first-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.error-page-button:hover {
    background-color: var(--first-color);
}