.about_us {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 3%, var(--common-page-background) 30%, var(--common-page-background) 70%, var(--body-color) 97%);
}

.about_us_content {
    padding-top: 5rem;
}

.about_us_content p {
    font-family: var(--subtitle-font);
    font-style: italic;
    font-size:20px;
    color: var(--text-color);
    padding: 15px 130px;
    letter-spacing: 1px;
    text-align: center;
}

.about_us_comments {
    max-width: 500px;
    align-self: center;
    padding-top: 30px;
    

    .p-galleria-item-container img {
        width: 450px;
        height: 450px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-container {
        max-height: 150px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-item img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media (max-width: 768px) {
    .about_us {
        height: 1400px;
    }

    .about_us_content p {
        padding: 15px 30px;
    }
}