.about_us_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1350px;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
}

.about_us_page h1 {
    padding-top: 50px;
    color: var(--text-color);
    font-size: var(--smaller-h1-font-size);
    align-self: center;
}

.about_us_content_container {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 15px;
}

.about_us_comments_intro {
    display: inline-block;
    width: 55%;
    margin-right: 30px;
}

.about_us_photo_tiles_wrap {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

.about_us_content_container a {
    color: var(--first-color);
}

.about_us_photo_tile {
    display: inline-block;
    width: 36%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .about_us_pic_wrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 10px;
  }

  .about_us_photo_tile_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .about_us_photo_tile_img:hover {
    transform: scale(1.1);
  }

.about_us_content_text {
      display: inline-block;
      width: 50%;
      margin-left: 30px;
}

.about_us_content_text p {
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    padding-top: 20px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.about_us_comments_intro p {
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    padding-top: 15px;
    color: var(--text-color);
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.about_us_comments {
    max-width: 500px;
    align-self: center;
    padding-top: 30px;
    display: inline-block;
    

    .p-galleria-item-container img {
        width: 450px;
        height: 450px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-container {
        max-height: 150px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-item img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .about_us_comments_intro {
        margin-left: 35px;
    }

    .about_us_photo_tile {
        margin-left: 30px;
    }

    .about_us_comments {
        max-width: 250px;
    
        .p-galleria-item-container img {
            width: 250px;
            height: 240px;
        }
    
        .p-galleria-thumbnail-container {
            max-height: 150px;
        }
    
        .p-galleria-thumbnail-item img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

@media screen and (max-width: 430px) {
    .about_us_page {
        height: 2200px;
    }

    .about_us_page h1 {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .about_us_content_container {
        text-align: center;
    }

    .about_us_content_text {
        width: 80%;
        margin-left: 0;
    }

    .about_us_photo_tile {
        width: 65%;
        margin-left: 0;
    }

    .about_us_comments_intro {
        width: 80%;
        margin-right: 0;
    }
}