.about_us {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1350px;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 3%, var(--common-page-background) 30%, var(--common-page-background) 70%, var(--body-color) 97%);
}

.about_us_content_container {
    padding: 50px 50px 40px 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;

    .about_us_comments_intro {
        padding-top: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        color: var(--first-color);
    }

    .about_us_comments_intro figure.about_us_image_wrapper {
        width: 350px;
        margin: auto;
    }
}

.about_us_image_wrapper:first-of-type {
    align-self: flex-start;
    padding-top: 20px;
}

.about_us_content_text {
    flex: 1;
}

.about_us_content_text p {
    font-family: var(--body-font);
    font-size:18px;
    padding-top: 20px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.about_us_comments_intro p {
    font-family: var(--body-font);
    font-size:18px;
    padding-top: 15px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.about_us_image_wrapper {
    width: 450px;
    height: 400px;
    padding-top: 20px;
}

.about_us_photo {
    width: 100%;
    border-radius: 10px;
}

.about_us_comments {
    max-width: 500px;
    align-self: center;
    padding-top: 30px;
    

    .p-galleria-item-container img {
        width: 450px;
        height: 450px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-container {
        max-height: 150px;
        border-radius: 10px;
    }

    .p-galleria-thumbnail-item img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
    }
}

@media (max-width: 780px) {
    .about_us {
        height: 2800px;
    }

    .about_us_content_container {
        flex-direction: column;
        align-items: flex-start;

        .about_us_comments_intro {
            padding-top: 0;
            align-items: flex-start;
            max-width: 100%;
            width: 100%;
            box-sizing: border-box; 

            figure.about_us_image_wrapper {
                width: 100%;
            }

            .about_us_photo {
                width: 100%;
                height: auto;
            }
        }
      }
    
      .about_us_image_wrapper {
        width: 100%;
        height: 100%;
        margin: 0;
      }


    .about_us_comments {
        max-width: 250px;
    
        .p-galleria-item-container img {
            width: 250px;
            height: 240px;
        }
    
        .p-galleria-thumbnail-container {
            max-height: 150px;
        }
    
        .p-galleria-thumbnail-item img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}