.about_us {
    padding-top: 0;
}

.about_us h1 {
    padding-bottom: 30px;
}

.about_us_text p {
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-font-size);
    padding: 15px 130px;
}

.about_us_photo {
    text-align: center;
    color: var(--text-color);
}

.about_us_photo_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.about_us_photo_wrapper {
    position: relative;
    padding-top: 25px;
}

@media (max-width: 780px) { 
    .about_us {
        height: 150px;
    }

    .about_us_text p {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 1150px) {
    .about_us_photo_container {
        visibility: hidden;
    }
}