.about_us {
    padding-top: 0;
}

.about_us p {
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-font-size);
    margin: 2.5rem 12.75rem 3rem;
}

.about_us a {
    color: var(--first-color);
}

.about_us  .about_us__thanks {
    text-align: center;
    color: var(--first-color);
    font-style: italic;
    font-size: var(--smaller-h1-font-size);
}

@media (max-width: 780px) { 
    .about_us p {
        margin: 1rem;
    }
}