.privacy-policy {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--menu-font);
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
}

.data a {
    margin-left: 15px;
}

.privacy-policy h1 {
    padding-top: 30px;
    font-family: var(--menu-font);
}

.privacy-policy h2 {
    padding-top: 20px;
    color: var(--text-color);
}

.privacy-policy h3 {
    padding-top: 15px;
    color: var(--text-color);
    margin-left: 15px;
}

.privacy-policy p {
    padding-top: 10px;
    color: var(--text-color);
    margin-left: 15px;
}

.privacy-policy__outside-link a {
    color: var(--first-color);
}

@media screen and (max-width: 430px) {
    .privacy-policy h2 {
        margin-left: 20px;
        margin-right: 15px;
    }
    
    .privacy-policy h3 {
        margin-left: 25px;
        margin-right: 15px;
    }

    .privacy-policy p {
        margin-left: 25px;
        margin-right: 15px;
    }

    .data a {
        margin-left: 25px;
    }
}