.our_auctions {
  padding-top: 30px;
}


h1 {
  text-align: center;
}

.our_auctions p {
  text-align: center;
  color: var(--text-color);
  font-size: var(--text-font-size);
  padding-bottom: 30px;
}

.auctions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.links_wrapper {
  position: relative;
  margin: 30px 0 45px;
}

.links_tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.links_tiles li {
  display: flex;
  justify-content: center;
}

.links_tiles li:hover {
  transform: scale(1.1);
}
