.auctions {
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 50px;
    font-family: var(--subtitle-font);
}

.auctions p {
    text-align: center;
    color: var(--text-color);
    font-size: var(--text-font-size);
    padding-bottom: 30px;
}

.auctions_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.links_wrapper {
    position: relative;
    margin: 30px 0 45px;
}

.links_tiles {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.links_tiles li {
  display: inline-block; 
}

  @media screen and (max-width: 1150px) {
    .links_tiles {
      margin-bottom: 0;
    }
  }