.link_tile {
    width: 300px;
    height: 300px;
    display: inline flow-root list-item;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .link_tile_link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }

  .link_tile_pic_wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .link_tile_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }

  .link_tile_img:hover {
    transform: scale(1.1);
  }
  
  .link_tile_info {
    background: var(--text-color);
    padding: 20px 30px 30px;
  }
  
  .link_tile_text {
    color: #252e48;
    font-size: var(--text-font-size);
    line-height: 24px;
    text-align: center;
  }