.blog_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url('../../assets/images/blog_hero.png');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center bottom;
}

.blog_hero h1 {
    color: var(--first-color);
    font-size: 50px;
    align-self: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.blog_hero h2 {
    color: var(--first-color);
    font-size: 25px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}   