.about_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url('../../assets/images/about_hero.png');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.about_hero h1 {
    color: var(--first-color);
    font-size: 50px;
    align-self: center;
    text-transform: capitalize;
}

.about_hero h2 {
    color: var(--first-color);
    font-size: 25px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
}

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.about__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about__text-container {
    flex: 0 0 60%;
    margin-right: 20px;
    padding: 15px;
}

.about__text-container p {
    margin-top: 10px;
    line-height: 1.5;
    font-size: var(--smaller-text-font-size);
}

.about__text-container h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
    color: var(--first-color);
}

.about__image-container {
    flex: 1;
}

.about__image {
    width: 450px;
}

.about__image-container p {
    color: var(--first-color);
    font-style: italic;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.about__tiles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.about__tiles-container svg {
    color: var(--first-color);
}

@media screen and (max-width: 430px) {
    .about_hero h1 {
        padding: 30px;
    }

    .about__content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .about__text-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about__image-container {
        text-align: center;
    }

    .about__image {
        width: 100%;
        max-width: 300px;
    }

    .about__image-container p {
        font-size: var(--mobile-font-size);
    }

    .about__tiles-container {
        flex-direction: column;
        align-items: center;
        margin-left: 15px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1150px) {
    .about__image-container, .about__text-container {
        flex: 1;
    }

    .about__image {
        width: 100%;
        max-width: 400px;
    }

    .about__image-container p {
        font-size: var(--mobile-font-size);
        max-width: 400px;
    }
}