.home {
    display: flex;
    height: 100vh;
    background-image: url('../../assets/images/background_set.webp');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-position: center bottom; 
    animation: homeAnimation 10s infinite alternate;
}

@keyframes homeAnimation {
    0% {
        background-size: 100%; 
        filter: brightness(100%);
    }
    100% {
        background-size: 110%; 
        filter: brightness(80%);
    }
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h1 {
    font-size: 86px;
    font-family: var(--title-font);
    color: var(--first-color);
}

.content p {
    font-family: var(--subtitle-font);
    font-style: italic;
    font-size:24px;
    margin: 20px 0;
    max-width: 550px;
    letter-spacing: 1px;
}

.content button {
    background-color: var(--first-color);
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 20px 0;
    letter-spacing: 1px;
    font-style: italic;
    color: var(--footer-background);
    font-size: var(--menu-font-size);
    font-family: var(--subtitle-font);
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.content button:hover {
    background-color: var(--text-color);
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1900px;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
}

.intro-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro-image {
    max-width: 300px;
    margin-right: 20px;
}

.intro-content p {
    flex: 1;
    font-size: var(--text-font-size);
}

@media screen and (max-width: 430px) {
    .home {
        animation: none;
    }

    .introduction {
        height: 3250px;
    }

    .content h1 {
        font-size: 56px;
    }

    .content p {
        font-size: var(--text-font-size);
    }

    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-image {
        max-width: 200px;
        margin: 0 0 20px 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 1150px) {
    .introduction {
        height: 1900px;
    }

    .home {
        animation: none;
    }
}