.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  z-index: -2;
  animation: homeAnimation 10s infinite alternate;
  filter: brightness(0.5);
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* exact same darkness */
  z-index: -1;
}

@keyframes homeAnimation {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(0.8);
  }
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.content h1 {
    font-size: 86px;
    font-family: var(--title-font);
    color: var(--first-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content p {
    font-family: var(--subtitle-font);
    font-style: italic;
    font-size:24px;
    margin: 20px 0;
    max-width: 550px;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.content button {
    background-color: var(--first-color);
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 20px 0;
    letter-spacing: 1px;
    font-style: italic;
    color: var(--text-color);
    font-size: var(--menu-font-size);
    font-family: var(--subtitle-font);
    cursor: pointer;
    transition: .5s;
    font-weight: 600;
}

.content button:hover {
    background-color: var(--text-color);
    color: var(--footer-background);
}

.introduction {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
}

.introduction h1 {
    font-size: 40px;
    color: var(--first-color);
    text-align: center;
    margin: 20px 0;
}

.intro-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro-image {
    max-width: 300px;
    margin-right: 20px;
}

.intro-content p {
    flex: 1;
    font-size: var(--text-font-size);
}

@media screen and (max-width: 430px) {
    .home {
        animation: none;
    }

    .content h1 {
        font-size: 56px;
    }

    .content p {
        font-size: var(--text-font-size);
    }

    .intro-content {
        flex-direction: column;
        text-align: center;
    }

    .intro-image {
        max-width: 200px;
        margin: 0 0 20px 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 1150px) {
    .home {
        animation: none;
    }
}