.contact__page {
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.contact__data, .contact__form {
    font-size: var(--text-font-size);
    max-width: 650px;
    width: 100%;
    color: var(--text-color);
    list-style: none;
}

.contact__data {
    padding-top: 50px;
}

.contact__page h1 {
    color: var(--first-color);
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}

.icon svg {
    color: var(--first-color);
}


@media screen and (max-width: 430px) {
    .contact__page {
        flex-direction: column;
        text-align: center;
    }

    .data {
        text-align: left;
    }

    .icon {
        max-width: 60px;
        justify-content: end;
    }

    .icon svg {
        height: 20px;
        padding-top: 4px;
    }

    .contact__data, .contact__form {
        width: 100%;
        margin: 0;
        padding-top: 25px;
    }

    .contact__page h1 {
        padding-left: 10px;
    }

    .contact__form h1 {
        margin-left: 0;
    }

    .contact__item {
        padding: 15px;
    }
}