.footer {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 20px auto;
    color: var(--text-color);
    font-family: var(--menu-font);
    background: var(--footer-background);
}

.footer__content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__item {
    font-size: 20px;
    margin-top: 10px;
}

.footer__item a {
    color: var(--text-color);
}

.footer__social-media {
    height: 35px;
    font-size: 25px;
    margin-top: 10px;
}

.footer__copyright a {
    color: var(--first-color);
}

.footer__social-media  a {
    color: var(--text-color);
    margin: 10px;
}

.footer__copyright {
    height: 50px;
    margin-top: 30px;
}

.footer__allegro-icon {
    margin-top: 4px;
    height: 25px;
}

@media screen and (max-width: 430px) {
    .footer {
        padding: 15px;
        height: 300px;
    }
}