@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Great+Vibes&family=Gwendolyn:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 
 :root {
  --header-height: 3rem;
  --first-color: #E1995B;
  --title-color: #FFFFFF;
  --text-color: #FFFFFF;
  --body-color: #060606;
  --footer-background: #272626;
  --common-page-background: #828282;
  --button-hover: #663399;
  --body-font: "Montserrat", sans-serif;
  --subtitle-font: "Alata", normal;
  --title-font: "Great Vibes", normal;
  --h2-font-size: 2.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }
 
 body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
 }
 
 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }

 .main-content {
  padding-top: 5rem;
}