@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Great+Vibes&family=Gwendolyn:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Dancing+Script:wght@700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+Oriya:wght@400..700&family=Playfair+Display:wght@800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 
 :root * {
  --header-height: 3rem;
  --first-color: #c6ac3f;
  --title-color: #FFFFFF;
  --text-color: #FFFFFF;
  --body-color: #1d1c1c;
  --footer-background: #131313;
  --common-page-background: #1d1c1c;
  --button-hover: #1f4f17;
  --body-font: Arial, Helvetica, sans-serif;
  --menu-font: "Montserrat", sans-serif;
  --subtitle-font: Arial, Helvetica, sans-serif;
  --title-font: 'Script MT Bold', cursive;
  --h2-font-size: 35px;
  --text-font-size: 20px;
  --mobile-font-size: 20px;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }
 
 body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
 }
 
 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }

 .main-content {
  padding-top: 5rem;
}