.purchase {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    margin: 0 auto;
    max-width: 1300px;
    color: var(--body-color);
    font-family: var(--body-font);
    background: linear-gradient(to right, var(--body-color) 1%, var(--common-page-background) 50%, var(--common-page-background) 50%, var(--body-color) 99%);
    padding-top: 25px;
}

.purchase_page_content {
    padding-top: 35px;
}

.purchase h1 {
    color: var(--text-color);
    text-align: left;
    padding-top: 50px;
    margin-left: 150px;
    font-size: var(--smaller-h1-font-size);
}

.purchase p {
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    color: var(--text-color);
    padding: 15px 130px;
    letter-spacing: 1px;
    text-align: left;
}

.purchase_contact {
    color: var(--text-color);
    padding-top: 25px;
    margin-left: 100px;
    font-size: var(--text-font-size);
}

@media screen and (max-width: 430px) {
    .purchase {
        height: 1100px;
    }

    .purchase h1 {
        margin: 15px;
    }

    .purchase p {
        padding: 15px 30px;
    }

    .purchase h2 {
        margin-left: 55px;
        margin-right: 100px;
    }

    .purchase_contact {
        margin-left: 5px;  
    }
}